h1, h2, h3, h4, p {

	font-weight: normal;
	margin: 0 0 25px;

	&:last-child {

		margin-bottom: 0;

	}

}

h1, h2, h3, h4 {

	color: #1F383D;
	line-height: 1.25;

}

h1 {

	line-height: 1;

	& + h3 {

		margin-top: -20px;
		color: #999;

	}

}

a:link {

	color: #45ADA8;

}
a:visited {

	color: darken(#45ADA8,10%);

}
a:hover {

	text-decoration: none;

}
a:active {

	color: darken(#45ADA8,20%);

}

.btn, .btn:link, .btn:visited {

	@include linear-gradient(#45ADA8,darken(#45ADA8,7.5%));
	@include box-shadow(0 0 0 1px darken(#45ADA8, 12%) inset);
	border-radius: 4px;
	color: white;
	display: inline-block;
	font-size: 19px;
	padding: .5em 1em;
	text-align: center;
	text-decoration: none;

	&:active {

		background: darken(#45ADA8,20%);
		color: lighten(#45ADA8,40%);

	}

}

hr {

	border: 0;
	background: #9DE0AD;
	height: 3px;
	margin: 3.5em -2em;

}

[trns] {

	opacity: .5;

}

small + p {

	margin-top: 25px;

}

[interstitial] {

	background: #fefebf;
	display: none;
	margin-left: -1.5em;
	margin-right: -1.5em;
	padding: .75em 1em;

}

[mar-top] {

	margin-top: 1.5em;

}

[mar-bot] {

	margin-bottom: 1.5em;

}

