					<!-- nav -->
					<nav id="menu">
						{% unless page.layout == 'events' %}
						<span>
							<a href="/events.html">View all events</a>
						</span>
						{% endunless %}
						<!--<span>
							<a href="">Stay updated on Instagram</a>
						</span>-->
						<span>
							<a href="http://twitter.com/dads_n_shows">Stay updated on twitter</a>
						</span>
						<span>
							<a href="mailto:dads.n.shows@gmail.com">Suggest an event / Give feedback</a>
						</span>
						<!--<span>
							<a href="http://jefff.co/" target="_blank">About the founder</a>
						</span>-->
						{% unless page.layout == 'default' %}
						<span>
							<a href="/">Head home</a>
						</span>
						{% endunless %}
						<span>
							<a href="#">Back to top</a>
						</span>
					</nav>

					<h3 footer>&copy; 2014, a jefff.co project</h3>

					{% if page.url == '/index.html' %}
					<script>

						function validateEmail(email) { 
							var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
							return re.test(email);
						}

						var submit = document.getElementById('submit');
						var email = document.getElementById('mce-EMAIL');
						var error = document.getElementById('error');

						email.onblur = function(){
							if(validateEmail(this.value)){
								error.className = '';
							}else{
								error.className = 'show';
							}
						}

						submit.onclick = function(){
							if(validateEmail(email.value)){
								error.className = '';
								return true;
							}else{
								error.className = 'show';
								return false;
							}
						}

					</script>
					{% endif %}