					<!-- nav -->
					<nav id="menu">
						{% unless page.layout == 'events' %}
						<span>
							<a href="/events.html">View all events</a>
						</span>
						{% endunless %}
						<!--<span>
							<a href="">Stay updated on Instagram</a>
						</span>-->
						<span>
							<a href="http://twitter.com/dads_n_shows">Stay updated on twitter</a>
						</span>
						<span>
							<a href="http://jefff.co/" target="_blank">About the founder</a>
						</span>
						{% unless page.layout == 'default' %}
						<span>
							<a href="/">Head home</a>
						</span>
						{% endunless %}
						<span>
							<a href="#">Back to top</a>
						</span>
					</nav>

					<h3 footer>&copy; 2014, a jefff.co project</h3>