					<!-- nav -->
					<nav id="menu">
						{% unless page.layout == 'default' %}
						<span>
							<a href="/">Head home</a>
						</span>
						{% endunless %}
						<span>
							<a href="events.html">View all events</a>
						</span>
						<span>
							<a href="">View photos &amp; other stuff</a>
						</span>
						<span>
							<a href="">Dads&rsquo;n&rsquo;Shows on twitter</a>
						</span>
						<span>
							<a href="http://jefff.co/" target="_blank">About the founder</a>
						</span>
						<span>
							<a href="#">Back to top</a>
						</span>
					</nav>

					<h3 footer>&copy; 2014, a jefff.co project</h3>