			<header>

				<div menu right>
					<a href="#menu" class="btn">Menu</a>
				</div>

				<!--<img src="http://xen1.sportsvite.com/devui/la-marketing-site/images/score.png" logo>-->
				<!--<span logo>♫</span>-->
				<h1 no>Check out the upcoming &amp; past events.</h1>
				<img class="lg" src="images/death-from-above-1979.jpg" alt="Death from Above 1979 is back together!!" />
				<small>Featured: Death from Above 1979 visits DC on 12/1/14.<!-- <a href="" class="btn">See the events calendar</a>--></small>
			</header>