<!doctype html>
<html lang="en-us">
	<head>
		
		{% include headerbits-top.html %}
		
		<title dir="ltr">{{page.title}} | Dads &rsquo;n&rsquo; Shows</title>
		
		{% include headerbits-bot.html %}

	</head>
	<body>

		{% include logo.html %}
		
		<div class="wrap">

			<header>

				<div menu right class="multi">
					<a href="#menu" class="btn">Menu</a>
					<a href="{{page.tix_url}}" class="btn">Get tix</a>
					<a href="mailto:dads.n.shows@gmail.com" class="btn">RSVP</a>
				</div>

				<h1 data-sub="{{page.num}} dads going.">{{page.title}}</h1>
				<img class="lg" src="/images/death-from-above-1979.jpg" alt="Death from Above 1979 is back together!!" />
				<small>Featured: Death from Above 1979 visits DC on 12/1/14.<!-- <a href="" class="btn">See the events calendar</a>--></small>
				
			</header>

			<div role="main">
				<div class="width">

					{% include interstitial.html %}

					{{ content }}

					{% include interstitialb.html %}

					<hr />

					{% include footer.html %}

				</div>
			</div>

		</div>
	</body>
</html>