<!doctype html>
<html lang="en-us">
	<head>
		
		{% include headerbits-top.html %}
		
		<title dir="ltr">{{page.title}} | Dads &rsquo;n&rsquo; Shows</title>
		
		{% include headerbits-bot.html %}

	</head>
	<body>

		{% include logo.html %}
		
		<div class="wrap">

			<header>

				<div menu right class="multi">
					<a href="#menu" class="btn">Menu</a>
					<a href="{{page.tix_url}}" class="btn">Get tix</a>
					<a href="mailto:dads.n.shows@gmail.com" class="btn">RSVP</a>
				</div>

				<h1 data-sub="{{page.num}} dads going.">{{page.title}}</h1>
				{% if page.event_img %}
				<img class="lg trans" src="/images/space.png" />
				{% else %}
				<img class="lg" src="{{site.featured_img}}" alt="{{site.featured_alt}}" />
				<small>{{site.featured_info}}</small>
				{% endif %}
				
			</header>

			<div role="main">
				<div class="width">

					{% if page.interstitial %}
					{% include interstitial.html %}
					{% endif %}

					{{ content }}

					{% if page.interstitial %}
					{% include interstitialb.html %}
					{% endif %}

					<hr />

					{% include footer.html %}

				</div>
			</div>

		</div>
	</body>
</html>