---
layout: event
---

<h1>{{page.headline}}</h1>
<h3>{{page.when}} @ {{page.time}} at {{page.where}}</h3>

<figure class="cf">
	<img src="{{site.root_url}}images/bands/{{page.folder}}/{{page.img1}}" />
	<img src="{{site.root_url}}images/bands/{{page.folder}}/{{page.img2}}" />
	<img src="{{site.root_url}}images/bands/{{page.folder}}/{{page.img3}}" />
</figure>

{% if page.track_embed %}

{% endif %}
<small trns>Check out <a href="#track">my favorite tunes</a> of theirs; or read some info on &rsquo;em.</small>
{{content}}

{% if page.track_embed %}
<iframe src="https://embed.spotify.com/?uri=spotify:track:{{page.track}}"height="380" frameborder="0" allowtransparency="true" id="track"></iframe>
{% if page.track2_embed %}
<iframe src="https://embed.spotify.com/?uri=spotify:track:{{page.track2}}"height="380" frameborder="0" allowtransparency="true"></iframe>
{% endif %}
{% endif %}

<small trns>Content from: <a href="{{page.content_from}}" target="_blank">{{page.content_from}}</a></small>