---
layout: event
---

<p meta>Need tickets? <a href="{{page.tix_url}}">Get &rsquo;em here</a>. <a href="/#join">Join today</a>, or <a href="">RSVP now</a>.</p>

<h1>{{page.headline}}</h1>
<h3>{{page.when}} @ {{page.time}} at {{page.where}}</h3>

<figure class="cf">
	<img src="/images/bands/{{page.folder}}/{{page.img1}}" />
	<img src="/images/bands/{{page.folder}}/{{page.img2}}" />
	<img src="/images/bands/{{page.folder}}/{{page.img3}}" />
</figure>

{{content}}

<small>Content from: {{page.content_from}}</small>

<hr />